In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("results.csv")
df

                   actor                                   movie_or_TV_name
0        Camille Saviola                                            Younger
1        Camille Saviola                                            Forever
2        Camille Saviola                              Friends with Benefits
3        Camille Saviola                                  Girls on the Side
4        Camille Saviola                          Sex, Liza and Rock & Roll
...                  ...                                                ...
109600  Rene Auberjonois                                            Endless
109601  Rene Auberjonois  Police Academy 5: Assignment: Miami Beach - Mi...
109602  Rene Auberjonois               Star Trek: Deep Space Nine Companion
109603  Rene Auberjonois                                Hollywood Mavericks
109604  Rene Auberjonois                              America at the Movies

[109605 rows x 2 columns]

In [32]:
df = df.groupby(['movie_or_TV_name']).size()

In [33]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors"})
df = df.sort_values(["Number of Shared Actors", "movie_or_TV_name"], ascending=False)

In [34]:
df[0:20]

                     movie_or_TV_name  Number of Shared Actors
37260      Star Trek: Deep Space Nine                      866
31034                           Pilot                      441
35618             Show all 6 episodes                      340
54183                 post-production                      243
35526            Show all 13 episodes                      236
35629             Show all 7 episodes                      220
35641             Show all 8 episodes                      214
37306  Star Trek: The Next Generation                      193
13152                              ER                      180
37318              Star Trek: Voyager                      174
35498            Show all 10 episodes                      165
27926                       NYPD Blue                      144
23033                        L.A. Law                      141
21453                             JAG                      135
54146                       completed                      134
27461               Murder, She Wrote                      129
54184                  pre-production                      127
35652             Show all 9 episodes                      123
7469   CSI: Crime Scene Investigation                      114
35518            Show all 12 episodes                      112