In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("results.csv")
df

               actor                            movie_or_TV_name
0         Eric Sykes                                      Poirot
1         Eric Sykes                            Hallowe'en Party
2         Eric Sykes                                   Heartbeat
3         Eric Sykes                                  Night Mail
4         Eric Sykes                     Last of the Summer Wine
...              ...                                         ...
18362  David Tennant                                   Timeshift
18363  David Tennant             Parallel Worlds: A User's Guide
18364  David Tennant                          A Taste of My Life
18365  David Tennant                           Tracy-Ann Oberman
18366  David Tennant  Greatest Before They Were Stars TV Moments

[18367 rows x 2 columns]

In [25]:
df = df.groupby(['movie_or_TV_name']).size()

In [26]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors"})
df = df.sort_values(["Number of Shared Actors", "movie_or_TV_name"], ascending=False)

In [29]:
df[0:20]

,movie_or_TV_name,Number of Shared Actors
3276,Harry Potter and the Goblet of Fire,226
6294,Show all 6 episodes,130
3279,Harry Potter and the Order of the Phoenix,91
9622,post-production,64
6300,Show all 8 episodes,59
3270,Harry Potter and the Deathly Hallows: Part 1,55
6299,Show all 7 episodes,51
3278,Harry Potter and the Half-Blood Prince,51
3271,Harry Potter and the Deathly Hallows: Part 2,51
3267,Harry Potter and the Chamber of Secrets,48
3282,Harry Potter and the Sorcerer's Stone,46
3281,Harry Potter and the Prisoner of Azkaban,34
1804,"Creating the World of Harry Potter, Part 2: Ch...",32
1803,"Creating the World of Harry Potter, Part 1: Th...",32
7092,The Bill,31
6256,Show all 10 episodes,31
3263,Harry Potter 20th Anniversary: Return to Hogwarts,29
2221,Doctor Who,29
8767,This Morning,28
9623,pre-production,27