In [30]:
import pandas as pd

In [35]:
df = pd.read_csv("results.csv")
df

                         actor                            movie_or_TV_name
0                    Anne Lacy         Harry Potter and the Goblet of Fire
1      Christopher Whittingham                                  Holby City
2      Christopher Whittingham                              Bad Reputation
3      Christopher Whittingham                         The Only Boy for Me
4      Christopher Whittingham         Harry Potter and the Goblet of Fire
...                        ...                                         ...
14594            David Tennant                                   Timeshift
14595            David Tennant             Parallel Worlds: A User's Guide
14596            David Tennant                          A Taste of My Life
14597            David Tennant                           Tracy-Ann Oberman
14598            David Tennant  Greatest Before They Were Stars TV Moments

[14599 rows x 2 columns]

In [36]:
df = df.groupby(['movie_or_TV_name']).size()

In [37]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors"})
df = df.sort_values(["Number of Shared Actors", "movie_or_TV_name"], ascending=False)

In [38]:
df[0:20]

,movie_or_TV_name,Number of Shared Actors
3276,Harry Potter and the Goblet of Fire,192
3279,Harry Potter and the Order of the Phoenix,74
9573,post-production,58
3270,Harry Potter and the Deathly Hallows: Part 1,44
3267,Harry Potter and the Chamber of Secrets,41
3271,Harry Potter and the Deathly Hallows: Part 2,39
3278,Harry Potter and the Half-Blood Prince,38
3282,Harry Potter and the Sorcerer's Stone,37
7044,The Bill,27
9569,completed,26
3281,Harry Potter and the Prisoner of Azkaban,26
2221,Doctor Who,25
1804,"Creating the World of Harry Potter, Part 2: Ch...",25
1803,"Creating the World of Harry Potter, Part 1: Th...",24
8719,This Morning,23
9574,pre-production,22
3263,Harry Potter 20th Anniversary: Return to Hogwarts,22
8810,Today,21
3197,HBO First Look,20
9570,filming,18