In [30]:
import pandas as pd

In [43]:
df = pd.read_csv("results.csv")
df

                         actor                            movie_or_TV_name
0                    Anne Lacy         Harry Potter and the Goblet of Fire
1      Christopher Whittingham                                  Holby City
2      Christopher Whittingham                              Bad Reputation
3      Christopher Whittingham                         The Only Boy for Me
4      Christopher Whittingham         Harry Potter and the Goblet of Fire
...                        ...                                         ...
43586            David Tennant                                   Timeshift
43587            David Tennant             Parallel Worlds: A User's Guide
43588            David Tennant                          A Taste of My Life
43589            David Tennant                           Tracy-Ann Oberman
43590            David Tennant  Greatest Before They Were Stars TV Moments

[43591 rows x 2 columns]

In [44]:
df = df.groupby(['movie_or_TV_name']).size()

In [45]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors"})
df = df.sort_values(["Number of Shared Actors", "movie_or_TV_name"], ascending=False)

In [46]:
df[0:20]

,movie_or_TV_name,Number of Shared Actors
3276,Harry Potter and the Goblet of Fire,576
3279,Harry Potter and the Order of the Phoenix,222
3270,Harry Potter and the Deathly Hallows: Part 1,132
3267,Harry Potter and the Chamber of Secrets,123
3271,Harry Potter and the Deathly Hallows: Part 2,117
3278,Harry Potter and the Half-Blood Prince,114
3282,Harry Potter and the Sorcerer's Stone,111
7044,The Bill,81
3281,Harry Potter and the Prisoner of Azkaban,78
2221,Doctor Who,75
1804,"Creating the World of Harry Potter, Part 2: Ch...",75
1803,"Creating the World of Harry Potter, Part 1: Th...",72
8719,This Morning,69
3263,Harry Potter 20th Anniversary: Return to Hogwarts,66
8810,Today,63
3197,HBO First Look,60
9574,post-production,58
5817,Reflections on the Fourth Film,54
1422,Casualty,54
2508,Entertainment Tonight,51