In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("results.csv")
df

               actor                            movie_or_TV_name
0         Eric Sykes                                      Poirot
1         Eric Sykes                            Hallowe'en Party
2         Eric Sykes                                   Heartbeat
3         Eric Sykes                                  Night Mail
4         Eric Sykes                     Last of the Summer Wine
...              ...                                         ...
18362  David Tennant                                   Timeshift
18363  David Tennant             Parallel Worlds: A User's Guide
18364  David Tennant                          A Taste of My Life
18365  David Tennant                           Tracy-Ann Oberman
18366  David Tennant  Greatest Before They Were Stars TV Moments

[18367 rows x 2 columns]