We first import the pandas package:

In [1]:
import pandas as pd

Then we read the file `movies.csv` and save it as a dataframe:

In [2]:
df = pd.read_csv("movies.csv")
df

               actor                               movie_or_TV_name
0       Devon Murray                          Damo & Ivor The Movie
1       Devon Murray  Harry Potter and the Deathly Hallows: Part II
2       Devon Murray   Harry Potter and the Deathly Hallows: Part 2
3       Devon Murray   Harry Potter and the Deathly Hallows: Part 1
4       Devon Murray         Harry Potter and the Half-Blood Prince
...              ...                                            ...
10112  David Tennant                                Heroes Unmasked
10113  David Tennant                   The Big Fat Quiz of the Year
10114  David Tennant                                      Timeshift
10115  David Tennant                             A Taste of My Life
10116  David Tennant     Greatest Before They Were Stars TV Moments

[10117 rows x 2 columns]

We have to first remove duplicated rows because certain actors have played different roles for a movie, resulting in double counting:

In [6]:
df = df.drop_duplicates()
df

               actor                               movie_or_TV_name
0       Devon Murray                          Damo & Ivor The Movie
1       Devon Murray  Harry Potter and the Deathly Hallows: Part II
2       Devon Murray   Harry Potter and the Deathly Hallows: Part 2
3       Devon Murray   Harry Potter and the Deathly Hallows: Part 1
4       Devon Murray         Harry Potter and the Half-Blood Prince
...              ...                                            ...
10110  David Tennant                                 The Big Finish
10112  David Tennant                                Heroes Unmasked
10114  David Tennant                                      Timeshift
10115  David Tennant                             A Taste of My Life
10116  David Tennant     Greatest Before They Were Stars TV Moments

[9275 rows x 2 columns]

Count the number of actors that a particular movie shares:

In [7]:
df = df.groupby(['movie_or_TV_name']).size()

Rename the columns and sort the values:

In [8]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors", "movie_or_TV_name": "Movie or TV Name"})
df = df.sort_values(["Number of Shared Actors", "Movie or TV Name"], ascending=False)

Make the table more presentatble:

In [9]:
df = df.reset_index()
df = df.drop(['index'], axis = 1)

Present the final result as follows:

In [10]:
df[0:20]

                                     Movie or TV Name  Number of Shared Actors
0                 Harry Potter and the Goblet of Fire                      176
1           Harry Potter and the Order of the Phoenix                       60
2        Harry Potter and the Deathly Hallows: Part 1                       42
3        Harry Potter and the Deathly Hallows: Part 2                       38
4             Harry Potter and the Chamber of Secrets                       38
5               Harry Potter and the Sorcerer's Stone                       33
6              Harry Potter and the Half-Blood Prince                       28
7                                            The Bill                       26
8            Harry Potter and the Prisoner of Azkaban                       26
9   Creating the World of Harry Potter, Part 2: Ch...                       25
10  Harry Potter 20th Anniversary: Return to Hogwarts                       22
11                                       This Morning                       21
12                                     HBO First Look                       20
13                                         Doctor Who                       20
14                                              Today                       18
15                     Reflections on the Fourth Film                       18
16                                           Casualty                       18
17                        Preparing for the Yule Ball                       16
18                                         Screen Two                       15
19  Creating the World of Harry Potter, Part 8: Gr...                       15

It fits our expectation that the movie itself shares the most no. of actors. At the same time, the *Harry Potter* series have the most no. of the same actors, which is expected since the series used similar casts and crews for each of its movie. However, there are also some interesting results such as *The Bill*, *Doctor Who*, etc. that definitely worth checking if you are also a fan of the *Harry Potter* series.