In [48]:
import pandas as pd

In [50]:
df = pd.read_csv("movies.csv")
df

                 actor                            movie_or_TV_name
0      William Melling                                Strange Days
1      William Melling                     Frankie Drake Mysteries
2      William Melling                            Midsomer Murders
3      William Melling                                       Fried
4      William Melling                                        Glue
...                ...                                         ...
10110    David Tennant                             Heroes Unmasked
10111    David Tennant                The Big Fat Quiz of the Year
10112    David Tennant                                   Timeshift
10113    David Tennant                          A Taste of My Life
10114    David Tennant  Greatest Before They Were Stars TV Moments

[10115 rows x 2 columns]

In [51]:
df = df.groupby(['movie_or_TV_name']).size()

In [52]:
df = df.reset_index()
df = df.rename(columns = {0: "Number of Shared Actors"})
df = df.sort_values(["Number of Shared Actors", "movie_or_TV_name"], ascending=False)

In [55]:
df = df.reset_index()
df = df.drop

In [56]:
df[0:20]

,index,movie_or_TV_name,Number of Shared Actors
0,1997,Harry Potter and the Goblet of Fire,192
1,1999,Harry Potter and the Order of the Phoenix,74
2,1991,Harry Potter and the Deathly Hallows: Part 1,44
3,1992,Harry Potter and the Deathly Hallows: Part 2,39
4,1998,Harry Potter and the Half-Blood Prince,38
5,1988,Harry Potter and the Chamber of Secrets,38
6,2002,Harry Potter and the Sorcerer's Stone,36
7,4451,The Bill,27
8,2001,Harry Potter and the Prisoner of Azkaban,26
9,1345,Doctor Who,25
10,1106,"Creating the World of Harry Potter, Part 2: Ch...",25
11,1105,"Creating the World of Harry Potter, Part 1: Th...",24
12,5534,This Morning,23
13,1987,Harry Potter 20th Anniversary: Return to Hogwarts,22
14,5585,Today,21
15,1947,HBO First Look,20
16,3600,Reflections on the Fourth Film,18
17,876,Casualty,18
18,1529,Entertainment Tonight,17
19,709,Breakfast,17